<h1>Dashboard</h1>
<p>This is going to be the central hub for all the services a user can access on the website</p>
<p>For each of the Notes, Groups, Tutors categories, it will have all the CRUD functionalities</p>
<% if user_signed_in? %>
      <h2>Welcome to your dashboard, <strong><%= current_user.name %></strong>.</h2>
<% end %>