<h1>Buddies</h1>
<table>
    <tbody>
    <% @profiles.each do |profile|%>
        <tr>
            <h2 class="title"><%= link_to profile.name, profile %></h2>
            <h4><%= profile.about_me %></h4>
            <p><%= profile.user.email %></p>
        </tr>  
    <% end %>
    </tbody>
</table>
