<br>
<h1>About Us</h1>

<h4>Ahmed Abdulkadir</h4>
<p>Ahmed is a fourth year student at the University of Toronto studying Engineering Science. He likes to play soccer and eat food.</p>

<h4>Jamie Anderson</h4>
<p>Jamie is a fourth year student at the University of Toronto studying Computer Engineering. She likes to fish and go skiing.</p>

<h4>Charlie Chai</h4>
<p>Charlie is a fourth year student at the University of Toronto studying Computer Engineering. He likes to play basketball and build robots.</p>

<h4>Alireza Chassebi</h4>
<p>Alireza is a third year student at the University of Toronto studying Computer Engineering. He likes to watch anime and  bant.</p>

<h4>Kevin (Wenkai) Xu</h4>
<p>Kevin is a fourth year student at the University of Toronto studying Computer Engineering. He likes to build rockets with UTAT and run a student bar.</p>
