<h1>Contact Us</h1>

<p>If you have any questions, concerns, or issues, please contact us at info@studybuddy-g1.com or create an Issue on <a href="https://github.com/KevinUTAT/StudyBuddy444-G1">GitHub.</a></p>