<h1>Frequently Asked Questions</h1>

<h4>How does StudyBuddy work?</h4>
<p>StudyBuddy is a platform where students at an educational institution can work and collaborate together in a mutually beneficial manner. 
Users can create and share Notes, create and join Study Groups, and hire or get hired as a Buddy. and </p>

<h4>What are Notes?</h4>
<p>Notes are repositories where a user can store any documents associated with a single course. This includes lecture notes, worksheets, tutorial notes,
and any other documents necessary. Other users can view, follow, and comment on a Note.</p>

<h4>What are Groups?</h4>
<p>Groups are simply study groups that a user can organize to collaborate on coursework with fellow classmates. Creators can set a limit on how 
many members can join, and users can comment on a Group to discuss more.</p>

<h4>What are Buddies?</h4>
<p>Buddies are fellow users of the platform that make their services available to other users. Buddies can be hired for tutoring, homework help, or
note taking in lectures. A user can either hire a buddy who is available or request for buddies to apply to a posting.</p>

<h4>What should I consider when hiring a Buddy?</h4>
<p>When you are hiring a Buddy, you can evaluate by any documentation they have provided in their profile such resumes and transcripts. You can also
see previous Notes they posted, as well as Groups they have been a part of, and previous Buddy sessions they have held. All those resources will
have comments so you can see what other users thought of a Buddy.</p>

<h4>How can I make myself more valuable so that I can get hired as a Buddy?</h4>
<p>Contribute to the platform by posting Notes, creating and joining Groups, and ensuring the documents on your profile are up to date. This allows
you to stand out and be more likely to get hired.</p>

<h4>How do I get paid for my services?</h4>
<p>Once a Buddy is hired, StudyBuddy collects the payment and holds until the Buddy session is completed, when the payment is released provided there
are no complications.</p>

