<br>
<h1>Site Map</h1>

<p>This page outlines the structure of the website for navigation. Links can be found either in the footer or 
the navigation bar and in the corresponding pages once you log in.</p>

<ul>
    <li><h4>Home Page</h4>
        <ul>
            <li>About Us</li>
            <li>Frequently Asked Questions</li>
            <li>Site Map</li>
            <li>Terms of Service</li>
            <li>Privacy Policy</li>
        </ul>
    </li>
    <li><h4>Dashboard</h4>
        <ul>
            <li><h5>Notes</h5>
                <ul>
                    <li>View Created Notes</li>
                    <li>View a Note</li>
                    <li>Create a Note</li>
                    <li>Edit a Note</li>
                    <li>Delete a Note</li>
                </ul>
            </li>
            <li><h5>Groups</h5>
                <ul>
                    <li>View Created Groups</li>
                    <li>View a Group</li>
                    <li>Create a Group</li>
                    <li>Edit a Group</li>
                    <li>Delete a Group</li>
                </ul>
            </li>
            <li><h5>Buddies</h5>
                <ul>
                    <li>View Buddies</li>
                    <li>Hire a Buddy</li>
                    <li>Invite a Buddy to Apply</li>
                    <li>Edit a Buddy Session</li>
                    <li>Delete a Buddy Session</li>
                </ul>
            </li>
            <li><h5>Profiles</h5>
                <ul>
                    <li>View All Profiles</li>
                    <li>View a Profile</li>
                </ul>
            </li>
        </ul>
    </li></br>
    <li><h4>Your Profile</h4>
        <ul>
            <li>View Your Profile</li>
            <li>Edit Your Profile</li>
            <li>Delete Your Profile</li>
        </ul>
    </li>
</ul>