<h1 class="text-center">Updating Profile</h1>

<%= render 'form', page: @page %>



<div class="text-center">
<%= link_to 'Cancel', @page, class: "btn btn-danger " %> 
<%# link_to 'Back', pages_path %>
</div>