<div class="col-12 text-center">
    <h2>Accept successfully</h2>
    <% @applicant.accept_payment(@amount) %>
    <h4><%= link_to "Go Back", accept_applicant_post_path(@post, :post_application_id => @app_id), method: :patch %></h4>
</div>